* {
  margin: 0;
  padding: 0;
}

.chests .container {
  width: 394px;
  background-color: plum;
}

.chests img {
  width: 100%;
}

.prev,
.next {
  transform: scale(0.5);
}

.current {
  transform: scale(1.8);
}

.chests button {
  margin-top: 80px;
}
