* {
  margin: 0;
  padding: 0;
}

.chests {
  /* width: 394px; */
}

.chests .container {
  width: 394px;
  background-color: plum;
}

.chests img {
  width: 100%;
  /* height: 80px; */
}

.prev,
.next {
  transform: scale(0.5);
}
